[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
sqlalchemy = "*"
pydantic = "*"
alembic = "*"
pydantic-settings = "*"
psycopg2-binary = "*"
uvicorn = "*"
bcrypt = "*"
passlib = "*"
pyjwt = "*"
python-multipart = "*"
elasticsearch = "*"
python-magic = "*"
libmagic = "*"
pytest = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.12"
